 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #1a1a2e;
    color: #e5e5e5;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.container {
    max-width: 800px;
    padding: 20px;
    background-color: #16213e;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

h1 {
    color: #f8b400;
    font-size: 2.5em;
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    color: #f05454;
    margin-top: 20px;
    font-size: 1.8em;
    border-bottom: 2px solid #f05454;
    padding-bottom: 5px;
}

p {
    line-height: 1.6;
    margin: 15px 0;
    font-size: 1.1em;
}

ul {
    list-style-type: square;
    padding-left: 20px;
    margin-top: 10px;
}

li {
    margin: 8px 0;
    font-size: 1.1em;
}

img {
    width: 100%;
    max-width: 400px;
    margin: 20px 0;
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.section {
    margin-bottom: 30px;
}

.slider {
    position: relative;
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
    overflow: hidden;
    background-color: rgb(248, 91, 56);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(253, 96, 5);
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

.slide img {
    width: 100%;
    border-radius: 10px;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    cursor: pointer;
    border: none;
    font-size: 18px;
    border-radius: 50%;
}

.prev { left: 10px; }
.next { right: 10px; }

.dots {
    text-align: center;
    margin-top: 10px;
}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 5px;
    background-color: #bbb;
    border-radius: 50%;
    cursor: pointer;
}

.dot.active {
    background-color: #717171;
}